.card-style {
  background-color: beige;
}

.card-padding {
  padding: 15px;
}

.profile-candidate {
  background-color: bisque;
  padding: 20px;
  border-radius: 10px;
  display: grid;

  grid-template-rows: 1fr auto;
  row-gap: 30px;
}

.card-info-personal {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 40px;
}

.profile-photo {
  background-color: aquamarine;
  height: 200px;
  width: 200px;
  
}

.profile-photo img {
  width: 100%;
  border-radius: 10px;
}

.info-personal {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(6, 1fr);
}

.info-education {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;  
  column-gap: 18px;
}


.candidate-journey {
  display: grid;
  grid-template-rows: repeat(18, 1fr);
}

/* Common Information Card Styles */

.card {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.card-title {
  background-color: #6610f2;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.card-info-title {
  font-weight: 600;
  color: #6610f2;
  padding-top: 20px;
}