.header-flex {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);

  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 20px;
  margin-left: 24px;
}

.header-right {
  width: 400px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}