nav a {
  text-decoration: none;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: #0f0f0fff;
  width: 200px;
  z-index: 200;
  padding-top: 0;
}

nav a {
  color: white;
  height: 60px;
  padding-left: 28px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  cursor: pointer;
}

nav a:hover {
  background-color: #6610F2;
  color: antiquewhite;
}

nav a:active {
  background-color: #6610F2;
  color: antiquewhite;
}

.sidebar-link div {
  font-size: 5px;

}